@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
} 

button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
} 

body {
    width: 100%;
}


/* Header Start*/

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile{
    display: none;
    align-items: center;
}

#close{
    display: none;
}


/* Home Page*/
#hero{
    background-image: url("Images/hero4.jpg");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}


#hero h4 {
    padding-bottom: 15px;
}

#hero h1 {
    color: #088178;
}

#hero button{
    background-image: url("Images/button.png");
    background-color: transparent;
    color: #465b52;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px ;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;

}

#feature .fe-box h6 {
    display: inline;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}
#feature .fe-box:nth-child(2) h6 {
    background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h6 {
    background-color: #d1e8f2;
}

#feature .fe-box:nth-child(4) h6 {
    background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5) h6 {
    background-color: #f6dbf6;
}

#feature .fe-box:nth-child(6) h6 {
    background-color: #fff2e5;
}

#product1 {
    text-align: center;
}

#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span {
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i {
    font-size: 12px;
    color: rgb(243,181,25);
}

#product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#product1 .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("Images/banner2.webp");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4 {
    font-size: 30px;
}

#banner h2 {
    font-size: 50px;
    padding: 10px 0;
}

#banner h2 span {
    color: indigo;
}

#banner button:hover {
    background:#088178 ;
    color: #fff;
}

#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("Images/sm-banner2.jpg");
   min-width: 660px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;

}

#sm-banner .banner-box2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("Images/sm-banner5.webp");
    min-width: 660px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

#sm-banner h4 {
    color:#fff;
    font-size: 20px;
    font-weight: 300;
}

#sm-banner h2 {
    color:#fff;
    font-size: 28px;
    font-weight: 800;
}

#sm-banner span {
    color:#fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banner .banner-box:hover button {
    background: #088178;
    border: 1px solid #088178;
}

#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("Images/bn3.jpg");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}

#newsletter h4{
    font-size: 30px;
    font-weight: 700;
    color: #000;
}

#newsletter p{
    font-size: 20px;
    font-weight: 600;
    color: #000;
}

#newsletter p span{
    color: #041e42;
}

#newsletter .form {
    display: flex;
    width: 40%;
}

#newsletter input {
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 18px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button{
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo {
    margin-bottom: 30px;
}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow{
    margin-top: 20px;
}

footer .follow i{
    color:#465b52;
    padding-right: 4px;
}

footer .install{
    padding-top: 40px;
}

footer .follow i:hover,
footer a:hover {
    color:#088178;
}

.copyright{
    width: 100%;
    text-align: center; 
}

.copyright  p{
    font-size: 12px;
}

#page-header {
    background-image: url(Images/shop-banner1.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

#page-header1 {
    background-image: url(Images/banner2.webp);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

#page-headerai {
    background-image: url(Images/natural\ farming\ hero\ desktop.jpg.webp);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
#page-headercha {
    background-image: url(Images/charitybanner.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
/*contact page*/
#page-headercon {
    background-image: url(Images/contactbanner.png);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;

}
#aboutusbanner {
    background-image: url(Images/au4.jpg );
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;

}

#page-headercon h2{
    color: #cce7d0;
}

#page-headercon p{
    color: azure;
}

#contact-details .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
    
}

#contact-details .pro img {
    width: 100%;
    border-radius: 20px;
}

#contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}   

#contact-details .details{
    width: 40%;
}

#contact-details .aboutdetails{
    width: 70%;
}

#contact-details .aboutdetails h2{
    padding-bottom: 20px;
}

#contact-details .aboutdetails h3{
    padding-bottom: 20px;
}

#contact-details .aboutdetails h5{
    font-size: large;
    font-weight: 500;

}
#contact-details .details span{
    font-size: 12px;
}

#contact-details .details h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

#contact-details .details h3{
    font-size: 16px;
    padding-bottom: 15px;
}

#contact-details .details li{
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contact-details .details li i{
    font-size: 14px;
    padding-right: 22px;
}

#contact-details .details li p{
    margin: 0;
    font-size: 14px;
}

#contact-details .map{
    width: 55%;
    height: 400px;
}

#contact-details .map iframe{
    width: 100%;
    height: 100%;
}

#page-header h2 {
    color: #000;
    font-size: 60px;
}

#page-header p{
    color: #465b52;
    font-size: 25px;
}

#page-headerai p{
    color: #000;
    font-size: 25px;
}

#pagination {
    text-align: center;
}

#pagination a{
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}

#pagination a i{
    font-size: 16px;
    font-weight: 600;
}
/*login page*/
* {
	box-sizing: border-box;
}

#bgm {
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}

#bgm a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

#bgm  button {
	border-radius: 20px;
	border: 1px solid green;
	background-color: green;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

#bgm button:active {
	transform: scale(0.95);
}

#bgm button:focus {
	outline: none;
}

#bgm button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

#bgm form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

#bgm input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}
 .form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}
.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: cornflowerblue;
	background: -webkit-linear-gradient(to right, skyblue, cornflowerblue);
	background: linear-gradient(to right, lightblue, cornflowerblue );
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}
.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(0%);
}

.social-container {
	margin: 20px 0;
}
.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

#bgm footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

#bgm footer p {
    margin: 10px 0;
}

#bgm footer i {
    color: blue;
}

#bgm footer a {
    color: #3c97bf;
    text-decoration: none;
}
  
/* single product*/

#prodetails{
    display: flex;
    margin-top: 20px;
}


#prodetails .single-pro-image{
    width: 40%;
    margin-right: 50px;
}
.small-img-group{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails .single-pro-details{
    width: 50%;
    padding-top: 30px;
}

#prodetails .single-pro-details h4{
    padding: 40px 0  20px 0;
}

#prodetails .single-pro-details h2{
    font-size: 26px;
}

#prodetails .single-pro-details select{
    display:block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails .single-pro-details button{
    background-color: #088178;
    color: #fff;
}

#prodetails .single-pro-details span{
    line-height: 25px;
}

/*internship details*/

#prodetails .single-in-details{
    width: 50%;
    padding-top: 30px;
}

#prodetails .single-in-details h4{
    padding: 40px 0  20px 0;
}

#prodetails .single-in-details h3{
    padding-bottom: 25px;
    font-size: medium;
    color: #465b52;
}

#prodetails .single-in-details h2{
    font-size: 26px;
}


#prodetails .single-in-details button{
    background-color: #088178;
    color: #fff;
}

#prodetails .single-in-details span{
    line-height: 25px;
}

#prodetails .single-in-details ul{
    font-size: medium;
    padding: 5px;
    font-weight: 600;
}

#prodetails .end h3{
    padding-top: 10px;
    padding-bottom: 10px;
}

#prodetails .end ul{
    padding: 5px;
}

#prodetails .end li{
    padding: 5px;
    font-size: large;
}

#prodetails .star{
    color: rgb(243,181,25);
    padding-bottom: 15px;
}

#review {
    text-align: center;
}

#review .incontainer {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#review .intern {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#review .intern:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}



#review .intern span {
    color: #606063;
    font-size: 12px;
}

#review .intern h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#review .intern i {
    font-size: 12px;
    color: rgb(243,181,25);
}

#review .intern h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#brev {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("Images/inba1.jpg.crdownload");
    width: 100%;
    height: 20vh;
    background-size: cover;
    background-position: center;
}


#brev h2 {
    font-size: 50px;
    padding: 10px 0;
}

#brev p {
    color: #465b52;
    font-size: xx-large;
    font-weight: 800;
}

/* Charity*/

#prodetails .single-cha-details{
    width: 50%;
    padding-top: 30px;
}

#prodetails .single-cha-details h4{
    padding: 40px 0  20px 0;
}

#prodetails .single-cha-details h3{
    padding-bottom: 5px;
    padding-top: 15px;
    font-size: medium;
    color: #465b52;
}

#prodetails .single-cha-details h2{
    font-size: 26px;
    padding-bottom: 0px;
}


#prodetails .single-cha-details button{
    background-color: #088178;
    color: #fff;
}

#prodetails .single-cha-details h5{
    font-size: medium;
    font-weight: 400;
    padding-bottom: 15px;
}

#prodetails .form{
    display: flex;
    width: 40%;
    

}


/*Packaged Field Trips*/
#smp-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#smp-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("Images/nilgiris.webp");
   min-width: 660px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;

}

#smp-banner .banner-box2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("Images/tanjore.jpg");
    min-width: 660px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

#smp-banner h4 {
    color:#fff;
    font-size: 20px;
    font-weight: 300;
}

#smp-banner h2 {
    color:#fff;
    font-size: 28px;
    font-weight: 800;
}

#smp-banner span {
    color:#fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#smp-banner .banner-box:hover button {
    background: #088178;
    border: 1px solid #088178;
}

#smp-bannero .banner-box2:hover button {
    background: #088178;
    border: 1px solid #088178;
}





#sm-bannero {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-bannero .banner-boxo1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("Images/othersbanner1.jpg");
   min-width: 660px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;

}

#sm-bannero .banner-boxo2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("Images/othersbanner2.jpg");
    min-width: 660px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

#sm-bannero h4 {
    color:#fff;
    font-size: 20px;
    font-weight: 300;
}

#sm-bannero h2 {
    color:#fff;
    font-size: 28px;
    font-weight: 800;
}

#sm-bannero span {
    color:#fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-bannero .banner-boxo1:hover button {
    background: #088178;
    border: 1px solid #088178;
}

#sm-bannero .banner-boxo2:hover button {
    background: #088178;
    border: 1px solid #088178;
}









/*Start Media Query*/
@media (max-width:799px) {
    .section-p1 {
        padding: 40px 40px;
    }
#navbar {
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #E3E6F3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s;
}

#navbar.active{
    right: 0px;
}

#navbar li{
    margin-bottom: 25px;
}

#mobile {
    display: flex ;
    align-items: center;
}

#mobile i{
    color: #1a1a1a;
    font-size: 24px;
    padding-left: 20px;
}

#close{
    position: absolute ;
    display: initial;
    top: 30px;
    left: 30px;
    color: #222;
    font-size: 24px;
}

#lg-bag{
    display: none;
}
#hero{
    height: 70vh;
    padding: 0 80px;
    background-position: top 30% right 30%;
}
#feature {
    justify-content: center;
}
#feature .fe-box {
    margin: 15px 15px;
}
#product1 .pro-container{
    justify-content: center;
}
#product1 .pro{
    margin: 15px;
}
#banner {
    height: 20vh;
}
#sm-banner .banner-box{
    min-width: 100%;
    height: 30vh;
}
#newsletter .form{
    width:70%;
}
}

@media (max-width: 477px) {
    .section-p1 {
        padding: 20px;
    }
    #header {
        padding: 10px 30px;
    }
    h1 {
        font-size: 38px;
    }
    h2 {
        font-size: 32px;
    }
    #hero {
        padding: 0 20px;
        background-position: 55%;
    }
    #feature {
        justify-content: space-between;
    }
    #feature .fe-box{
        width:155px;
        margin: 0 0 15px 0;
    }
    #product1 .pro{
        width:100%;
    }
    #banner {
        height: 40vh;
    }
    #sm-banner .banner-box{
        height:40vh;
    }
    #sm-banner .banner-box2 {
        margin-top: 20px;
    }
    #newsletter {
        padding: 40px 20px;
    }
    #newsletter .form{
        width: 100%;
    }


}

